<template>
    <v-form
        ref="formRegister"
        v-model="valid"
    >
        <v-text-field
            label="Full name"
            v-model="formData.name"
            :rules="rules.name"
            :error-messages="backendErrors.name"
            filled dense
            required
        ></v-text-field>

        <v-autocomplete
            label="Country"
            v-model="formData.country"
            :rules="rules.country"
            :error-messages="backendErrors.country"
            :items="countries"
            :loading="countriesLoading"
            :search-input.sync="countrySearch"
            :prepend-inner-icon="countryFlag"
            item-text="name"
            item-value="id"
            placeholder="Начните набирать название страны"
            filled dense
            return-object
            required
        ></v-autocomplete>

        <v-text-field
            label="Phone number"
            v-model="formData.phone"
            v-mask="'## ###-##-##'"
            :rules="rules.phone"
            :error-messages="backendErrors.phone"
            :prefix="phonePrefix"
            filled dense
            required
        ></v-text-field>

        <v-text-field
            label="E-mail"
            v-model="formData.email"
            :rules="rules.email"
            :error-messages="backendErrors.email"
            filled dense
            required
        ></v-text-field>

        <v-btn
            :disabled="sending"
            :loading="sending"
            color="success"
            @click="submit"
        >Submit</v-btn>
    </v-form>
</template>

<script>
import axios from "axios"

export default {
    data() {
        return {
            valid: false,
            formData: {
                name: '',
                country: null,
                phone: '',
                email: '',
            },
            rules: {
                name: [
                    v => !!v || 'Name is required',
                ],
                country: [
                    v => !!v || 'Country is required',
                ],
                phone: [
                    v => !!v || 'Phone is required',
                ],
                email: [
                    v => !!v || 'E-mail is required',
                    v => /.+@.+/.test(v) || 'E-mail must be valid',
                ],
            },
            backendErrors: {},
            countries: [],
            countrySearch: null,
            countriesLoading: false,
            sending: false,
        }
    },

    computed: {
        countryFlag() {
            return this.formData.country?.flag
        },
        phonePrefix() {
            return this.formData.country?.idd
        },
    },

    watch: {
        countrySearch: {
            handler() {
                this.fetchCountries()
            }
        }
    },

    methods: {
        /**
         * Получает список стран соответствующий поиску
         */
        fetchCountries() {
            if (!this.countrySearch) {
                this.countries = []
            }

            this.countriesLoading = true

            axios.post('/api/countries', {
                search: this.countrySearch
            })
                .then(response => this.countries = response.data.data)
                .finally(() => this.countriesLoading = false)
        },
        async submit() {
            this.backendErrors = {}

            await this.$refs.formRegister.resetValidation()
            await this.$refs.formRegister.validate()

            if (!this.valid) return

            this.sending = true

            axios.post('/api/register', {
                name: this.formData.name,
                country_id: this.formData.country.id,
                phone: `${this.formData.country.idd} ${this.formData.phone}`,
                email: this.formData.email,
            })
                .then(() => this.$refs.formRegister.reset())
                .catch(error => this.backendErrors = error.response.data.errors)
                .finally(() => this.sending = false)
        },
    },
}
</script>
