.page {
  padding-top: 100px;
  padding-bottom: 100px;

  @media (--phone) {
    padding-top: 80px;
    padding-bottom: 50px;
  }

  &__header {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;

    @media (--phone) {
      display: grid;
      grid-row-gap: 20px;
      margin-bottom: 30px;
    }
  }

  &__title {
    font-size: 30px;
    font-family: $secondFont;
  }
}
